<h1>Movie Details:</h1>
<label for="title">Title:  <%= movie.title %>"></label>
<input type="text" name="title" value="
<label for="title">Genre: <%= movie.genre %>"></label>
<image src="<%= movie.thumbnail %>"></image>
