    <!-- company.. contact info.. copyright.. License Info  --->
<div class='row footer'><em>Created by:<em> John Doe<em> <i class='fa fa-microphone'></i> 888-777-9999 <p class="pull-right "> @CoderCamps 2017 : MIT</p> </div>
