<div>
    <a class="headerlogo" href="index.html">
        <img src="images/film.png" />
    </a>
    <span id="headername">Movie Information Center</span>



</div>
<nav class="navbar-background">
    <ul>
        <!-- Build the Navigation Bar for your wep page here --->
      <li><a class="navlink" href="/">Home</a></li>
      <li><a class="navlink" href="/movies">Movies</a></li>
      <input type="search" class="searchbox pull-right" placeholder="Search" />
    </ul>
</nav>
