<div class="jumbotron row">
  <div class="col-xs-12">
  <img class='welcomeimage' src="images/movielogo.png" />
  <div class='col-xs-6 '><h2>Welcome to the Movie Information Center</h2></div>

  </div>

</div>
